form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  position: relative;
}


form textarea {
  border: none;
  outline: none;
  border-bottom: 3px solid #545149;
  background: transparent;
  height: 2em;
  width: 100%;
  vertical-align: baseline;
  margin-bottom: .5em;
  resize: none;
}

form span.counter {
  justify-self: flex-end;
  font-family: 'Bungee', cursive;
}

form input {
  font-family: 'Bungee', cursive;
  color: white;
  background-color: #4056A1;

}