form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

form textarea {
  border: none;
  outline: none;
  border-bottom: 3px solid #545149;
  background: transparent;
  height: 3em;
  width: 100%;
  margin-bottom: .5em;
  resize: none;
  overflow:hidden;
}

form input,
form .counter {
  font-family: 'Bungee', cursive;
}

form input {
  color: white;
  background-color: #4056A1;
}

.counter.warning {
  color: red;
}