.tweet-container {
  display: flex; 
  flex-direction: column;
  margin: 2.5% 0;
}

.tweet {
  border: 3px solid #545149;
  padding: 0.5em;
  margin-bottom: 1em;
}

.tweet:hover {
  -moz-box-shadow:    3px 3px 5px 6px rgba(64, 87, 161, 0.25);
  -webkit-box-shadow: 3px 3px 5px 6px rgba(64, 87, 161, 0.25);
  box-shadow:         3px 3px 5px 6px rgba(64, 87, 161, 0.25);
}

.tweet header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: .5em 0.5em 0em 0.5em;
}

.tweet header .avatar {
  max-width: 50px;
  margin-right: 0.5em;
}

.tweet header .username {
  flex-grow: 2;
  align-self: center;
  /* margin: auto auto auto 0; */
}

.tweet header .handle {
  opacity: 0;
  font-size: x-large;
  color: rgba(64, 87, 161, 0.25);
}

.tweet:hover header .handle {
  opacity: 1;
}

.tweet p {
  padding: 1em 0.5em;
  margin: 0;
  opacity: 0.5;
}

.tweet:hover p {
  opacity: 1;
}

.tweet footer {
  display: flex;
  justify-content: space-between;
  padding: .5em;
  font-size: medium;
  border-top: 3px solid #545149;
}

.tweet footer ul {
  margin: 0;
}

.tweet footer ul li {
  margin: 0.25em;
}

.fa-flag,
.fa-retweet,
.fa-heart {
  color: rgba(64, 87, 161);
}